@import "./variables";
@import "./post";
@import "./user";
@import "./member";

// @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
// }

// @media only screen and (min-device-width: 320px) {
// }

// /* ----------- Retina Screens ----------- */
// @media screen and (min-device-width: 1200px) {
// }

html {
  background: #eee;
}

html,
body,
#root,
main,
form {
  height: 100%;
}

nav {
  width: 300px;
}

main {
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;

  &.hide {
  }
}
