.content-input {
  width: 400px;
  margin: auto;
}

.post-list {
  padding: 30px;
  text-align: center;

  .post-item {
    text-align: left;
    margin-top: 30px;

    @media screen and (min-width: $min-width) {
      display: flex;
    }

    .post-contents {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .post-comment {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      .post-comment-form {
        display: flex;
      }
    }
    .post-comment-item {
      &.is-reply {
        padding-left: 20px;
      }
    }
    .post-comment-reply-form {
      display: flex;
    }
  }
}
